node_modules/
.expo/
dist/
npm-debug.*
web-build/

# Native build folders — generated via `yarn prebuild:clean`
android/
ios/

# Credentials & keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment variables
.env
.env.local
.env.*.local

# Metro
.metro-health-check*

# macOS
.DS_Store
